- hosts: docker
  become: yes
  # vars:
  #   # DOCKER_USERNAME: ntdl14
  #   # DOCKER_PASSWORD: Duyl@Nlx92
  tasks:
    - name: Install Docker
      apt:
        name:
          - docker
          - docker-compose
        state: present
    - name: Login DockerHub
      shell: docker login -u "{{DOCKER_USERNAME}}" -p "{{DOCKER_PASSWORD}}"
    - name: Copy file
      copy:
        src: docker-compose.yaml
        dest: /home/LanNguyen/
    - name: Restart docker-compose
      shell: |
          docker-compose stop
          docker-compose rm -f
          docker-compose pull
          docker-compose up -d
